version: '3.9'

services:
  pipeline:
    image: django-pipeline:latest
    container_name: django
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    command: ["gunicorn", "ci_cd_test.wsgi:application", "--bind", "0.0.0.0:8000"]
    networks:
      - app-net

  
  nginx:
    image: nginx:latest
    container_name: nginx-server
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - 80:80
    
    volumes:
      - nginx-logs:/var/log/nginx
    depends_on:
      - pipeline
    networks:
      - app-net

networks:
  app-net:

volumes:
  nginx-logs:


