version: '3.9'

services:
  pipeline:
    image: python-pipeline:latest
    container_name: pipeline
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    command: ["uvicorn", "app.server:app", "--host", "0.0.0.0", "--port", "8000"]
    networks:
      - app-net

  
  nginx:
    image: nginx:latest
    container_name: nginx-server
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - 80:80
    depends_on:
      - pipeline
    networks:
      - app-net

networks:
  app-net:

  


