version: '3.9'

services:
  pipeline:
    image: django-pipeline:latest
    container_name: django
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    command: ["gunicorn", "ci_cd_test.wsgi:application", "--bind", "0.0.0.0:8000"]
    networks:
      - app-net
    profiles: ["app"]

  
  nginx:
    image: nginx:latest
    container_name: nginx-server
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - certbot-www:/var/www/certbot
      - certbot-conf:/etc/letsencrypt
      - nginx-logs:/var/log/nginx

    depends_on:
      - pipeline
    networks:
      - app-net
    profiles: ["app"]

  # certbot:
  #   image: certbot/certbot
  #   volumes:
  #     - certbot-www:/var/www/certbot
  #     - certbot-conf:/etc/letsencrypt
  #   command: >
  #     certonly --webroot
  #     -w /var/www/certbot
  #     --email bala@gmail.com
  #     --agree-tos
  #     --no-eff-email
  #     -d bala.au
  #   profiles: ["certbot"]



volumes:
  certbot-www:
  certbot-conf:
  nginx-logs:

networks:
  app-net:


