# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: ci-cd pipeline

on:
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.16.0]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install dependencies
      run: npm ci
    
    - name: Build bundle
      run: npm run build --if-present
    
    - name: Run Test script
      run: npm test

    # - name: Docker build
    #   run: docker build -t ci-cd-test:latest .

    # - name: Run Container
    #   run: docker run -d -p 3000:5500 ci-cd-test:latest

    - name: BUILD & PUSH TO HUB
      env:
         DOCKER_USERNAME: ${{secret.DOCKER_USERNAME}}
         DOCKER_PASSWORD: ${{secret.DOCKER_PASSWORD}}
      run: |  
        echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        docker build -t $DOCKER_USERNAME/ci-cd-test:latest .
        docker push $DOCKER_USERNAME/ci-cd-test:latest

